<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меню</title>
</head>
<body>
    <ul>
        {% for item in menu %}
            <li><a href="{{ item.url }}">{{ item.title }}</a>
                {% if item.sublinks %}
                    <ul>
                        {% for sublink in item.sublinks %}
                            <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
